@import "./font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.card-inner {
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform-style: preserve-3d;
}

.is-flipping {
    transform: rotateY(90deg);
}

.is-rotating {
    transform: rotateX(90deg);
}

.backface-hidden {
    backface-visibility: hidden;
}